@using Microsoft.AspNetCore.Mvc.Localization
@using DncyTemplate.Mvc.HtmlHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject IHtmlLocalizer<MenuResource> _localizer
@model List<DncyTemplate.Application.Models.Permission.MenuModel>

<!-- Sidemenu Area -->
<div class="admetro-sidemenu-area">
    <!-- Desktop Logo -->
    <div class="admetro-logo">
        <a asp-controller="Home" asp-action="Index">
            <img class="desktop-logo"
                 src="~/img/core-img/logo.png"
                 alt="Desktop Logo" />
            <img class="small-logo"
                 src="~/img/core-img/small-logo.png"
                 alt="Mobile Logo" />
        </a>
    </div>

    <!-- Side Nav -->
    <div class="admetro-sidenav" id="admetroSideNav" style="overflow: hidden;">
        <!-- Side Menu Area -->
        <div class="side-menu-area">
            <!-- Sidebar Menu -->
            <ul class="sidebar-menu" data-widget="tree">
                <li class="@Html.IsMenuActive("Home", "Index")">
                    <a onclick="return loading(this);" asp-controller="Home" asp-action="Index" asp-fragment="">
                        <i class="ti-home"></i>
                        <span>@_localizer[MenuResource.Dashboard]</span>
                    </a>
                </li>
                <li class="@Html.IsMenuActive("Home", "Product")">
                    <a onclick="return loading(this);" asp-controller="Home" asp-action="Product">
                        <i class="ti-settings"></i>
                        <span>@_localizer[MenuResource.TableList]</span>
                    </a>
                </li>
                <li class="@Html.IsMenuActive("Home", "Product")">
                    <a asp-controller="Home" asp-action="Generate"><i class="ti-pulse"></i> <span>产品创建(权限)</span></a>
                </li>
                <li class="treeview">
                    <a href="javascript:void(0)">
                        <i class="ti-magnet"></i> <span>UI Elements</span>
                        <i class="fa fa-angle-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li class="@Html.IsMenuActive("Home", "Product")">
                            <a onclick="return loading()" asp-controller="Home" asp-action="Product">Accordion</a>
                        </li>
                        <li class="@Html.IsMenuActive("Home", "Product")">
                            <a onclick="return loading()" asp-controller="Home" asp-action="Product">Button</a>
                        </li>
                        <li class="@Html.IsMenuActive("Home", "Product")">
                            <a asp-controller="Home" asp-action="Index">Badges</a>
                        </li>
                        <li class="@Html.IsMenuActive("Home", "Product")">
                            <a asp-controller="Home" asp-action="Product">Notification</a>
                        </li>
                        <li class="@Html.IsMenuActive("Home", "Product")">
                            <a asp-controller="Home" asp-action="Product">Progressbar</a>
                        </li>
                        <li class="@Html.IsMenuActive("Home", "Product")">
                            <a asp-controller="Home" asp-action="Product">Typography</a>
                        </li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="javascript:void(0)">
                        <i class="ti-menu"></i> <span>Multilevel</span>
                        <i class="fa fa-angle-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#">Level One</a></li>
                        <li class="treeview">
                            <a href="#">Level One <i class="fa fa-angle-right"></i></a>
                            <ul class="treeview-menu">
                                <li><a href="#">Level Two</a></li>
                                <li><a href="#">Level Two</a></li>
                                <li><a href="#">Level Two</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Level One</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>