@using Microsoft.AspNetCore.Mvc.Localization
@using DncyTemplate.Domain.Collections
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using DncyTemplate.Application.Models.Product
@inject IHtmlLocalizer<SharedResource> _localizer
@{
    Layout = null;
    var datas = ViewData["data"] as IPagedList<ProductItemModel>;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DncyTemplate.Mvc</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.0-beta1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
<header>
    
    <nav class="navbar navbar-dark navbar-expand-lg bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@_localizer[SharedResource.WebSite_Name]</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li id="home_index" class="nav-item">
                        <a class="nav-link" asp-host="@ViewData["Host"]" asp-controller="Home" asp-action="Index">@_localizer[SharedResource.Menu_Home]</a>
                    </li>
                    <li id="home_product" class="nav-item">
                        <a class="nav-link" asp-host="@ViewData["Host"]" asp-controller="Home" asp-action="Product">@_localizer[SharedResource.Menu_Product]</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</header>
    <div class="container">
        <main role="main" class="pb-3">
            <ul class="list-group list-group-flush">
                @foreach (var item in datas.Items)
                {
                    <li class="list-group-item">@item.Name</li>
                }
            </ul>
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - @_localizer[SharedResource.WebSite_Name] -
        </div>
    </footer>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.2.0-beta1/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
